
@{
    ViewBag.Title = "PagesatTransaksionetView";

}



<h2 class="mt-3">Lista e Transaksioneve</h2>

<table class="table table-bordered table-hover mt-4">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Emri i Klientit</th>
            <th>Data</th>
            <th>Shuma</th>
            <th>Mënyra e Pagesës</th>
            <th>Statusi</th>
            <th>Veprime</th>
        </tr>
    </thead>
    <tbody>
        <!-- Shembuj statik -->
        <tr>
            <td>1</td>
            <td>Ardit Hoxha</td>
            <td>01/05/2025</td>
            <td>€100.00</td>
            <td>Kartë Krediti</td>
            <td><span class="badge bg-success">E kryer</span></td>
            <td><a href="#" class="btn btn-sm btn-info">Shiko</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Elira Meta</td>
            <td>28/04/2025</td>
            <td>€150.00</td>
            <td>PayPal</td>
            <td><span class="badge bg-warning text-dark">Në pritje</span></td>
            <td><a href="#" class="btn btn-sm btn-info">Shiko</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Besart Kola</td>
            <td>20/04/2025</td>
            <td>€200.00</td>
            <td>Bankë</td>
            <td><span class="badge bg-danger">E dështuar</span></td>
            <td><a href="#" class="btn btn-sm btn-info">Shiko</a></td>
        </tr>
    </tbody>
</table>