@{
    Layout = null; // Optional: remove layout if you want a clean popup
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Password Changed</title>
</head>
<body>
    <script>
        alert("Fjalëkalimi u ndryshua me sukses. Ju lutemi kyçuni përsëri.");
        window.location.href = '@Url.Action("LoginView", "RegisterLogin")';
    </script>
</body>
</html>
