
@{
    ViewBag.Title = "Roli_HotelManager";
}

<div class="container mt-5">
    <h2>🏨 Hotel Manager Dashboard</h2>
    <ul class="list-group mt-4">
        <li class="list-group-item">➕ Add New Room</li>
        <li class="list-group-item">✏️ Edit Room Info</li>
        <li class="list-group-item">📅 Update Availability</li>
        <li class="list-group-item">📥 View Reservations</li>
    </ul>
</div>