
@{
    ViewBag.Title = "Roli_Klient";
}


<div class="container mt-5">
    <h2>👤 Client Dashboard</h2>
    <ul class="list-group mt-4">
        <li class="list-group-item">🔍 Search Hotels</li>
        <li class="list-group-item">📆 View My Bookings</li>
        <li class="list-group-item">✏️ Edit Profile</li>
    </ul>
</div>
