
@{
    ViewBag.Title = "Roli_Admin";
}

<div class="container mt-5">
    <h2>🛠️ Administrator Dashboard</h2>
    <ul class="list-group mt-4">
        <li class="list-group-item">👥 Manage Users</li>
        <li class="list-group-item">🏨 Manage Hotels</li>
        <li class="list-group-item">🚗 Manage Car Agencies</li>
        <li class="list-group-item">📊 View Analytics</li>
    </ul>
</div>