
@{
    ViewBag.Title = "Roli_VeturManager";
}

<div class="container mt-5">
    <h2>🚗 Car Rental Agency Dashboard</h2>
    <ul class="list-group mt-4">
        <li class="list-group-item">➕ Add Vehicle</li>
        <li class="list-group-item">✏️ Edit Vehicle Info</li>
        <li class="list-group-item">📅 Set Rental Availability</li>
        <li class="list-group-item">📥 View Reservations</li>
    </ul>
</div>